@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}
:root {
	--background-color: #ffffff;
	--text-color: #000000;
	--box-color: #dfdfdf;
}

[data-theme='dark'] {
	--background-color: #121212;
	--text-color: #ffffff;
	--box-color: #000000;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 50px;
}
.wrap {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	width: 100%;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
}
section {
	display: flex;
	flex-direction: column;
	margin-top: 3em;
}
header {
	height: 120px;
	width: 100vw;
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--background-color);
	z-index: 99;
	align-items: center;
	box-shadow: 0px 2px 24px 0px var(--box-color);
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-weight: 600;
	cursor: default;
	transition: transform 0.3s, color 0.3s;
}
.logo > .name {
	color: #004aad;
}
.logo:hover > .name {
	color: var(--text-color);
}
.logo:hover > .surname {
	color: #004aad;
}
.logo:hover {
	transform: scale(1.04);
}
nav {
	padding: 2em;
}
nav > ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	width: 560px;
	align-items: center;
	justify-content: space-between;
}
nav > ul > li > a {
	color: var(--text-color);
	text-decoration: none;
	font-weight: 600;
}
nav > ul > li {
	transition: transform 0.3s;
	font-size: 20px;
	transition: color 0.3s ease-in-out, transform 0.3 ease-in-out;
}
nav > ul > li:hover > a {
	color: #004aad;
}
nav > ul > li:hover {
	transform: translateY(-3px);
}
.theme-toggle {
	padding: 10px;
	background-color: transparent;
	border: 2px solid #004aad;
	border-radius: 10px;
	color: #004aad;
	font-weight: 600;
	font-size: 20px;
}
.theme-toggle:hover {
	box-shadow: 0px 0px 28px -7px rgba(0, 74, 173, 1);
}
.section-id {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: 700;
	padding-top: 2em;
}
.section-id:first-of-type {
	padding-top: 3em;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 2em;
}
.container > div {
	padding: 3em;
}
.container > .text {
	width: 30em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container > .photo > img {
	width: 20em;
	-webkit-box-shadow: 0px 0px 25px -1px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 0px 25px -1px rgba(66, 68, 90, 1);
	box-shadow: 0px 0px 25px -1px rgba(66, 68, 90, 1);
	transition: transform 0.3s;
}
.photo:hover > img {
	transform: scale(1.03);
}

.project {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: var(--text-color);
	padding-top: 8em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.paragraphs {
	width: 60em;
	margin-bottom: 30px;
}
.project > .paragraphs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.p1,
.p2 {
	width: 50%;
}

.project h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
}

.tech-stack {
	font-size: 1em;
	color: #999;
	margin-bottom: 20px;
}

.description {
	font-size: 1.2em;
	margin-bottom: 20px;
}
.project-link {
	display: inline-block;
	font-size: 1.2em;
	color: var(--text-color);
	text-decoration: none;
	margin-bottom: 30px;
	font-weight: 700;
}
.project-link > span {
	color: #007bff;
}
.project-link:hover {
	color: #004aad;
}

.screenshot {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 60em;
}
.screenshot img {
	width: 60em;
	height: auto;
	-webkit-box-shadow: 0px 0px 25px -1px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 0px 25px -1px rgba(66, 68, 90, 1);
	box-shadow: 0px 0px 25px -1px rgba(66, 68, 90, 1);
	padding: 0;
	display: block;
	transition: opacity 0.7s;
}
.gallery {
	display: none;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.7s;
}

.screenshot:hover img {
	opacity: 1;
}

.screenshot:hover .overlay {
	opacity: 0;
}

.screenshot img {
	opacity: 0.7;
}

.overlay-text {
	font-size: 5em;
}

.badges {
	padding-top: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.badge > h3 {
	padding: 7px 0 7px 0;
}

.badge > .certification-link {
	padding: 1em 0 0 0;
}

.badges > .text {
	width: 30em;
	padding-left: 5em;
	text-align: left;
}
.badge {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.badge_img {
	opacity: 0.7;
	transition: opacity 0.3s;
}
.badge_img:hover {
	opacity: 1;
}
.special_text {
	color: #004aad;
	font-weight: 700;
}

.certification-link {
	display: inline-block;
	font-size: 1.2em;
	color: var(--text-color);
	text-decoration: none;
	margin-bottom: 30px;
	font-weight: 700;
}
.certification-link > span {
	color: #007bff;
}
.certification-link:hover {
	color: #004aad;
}
.badge > .issued {
	font-size: 12px;
	color: var(--text-color);
	margin-bottom: 5px;
	font-weight: 300;
}
footer {
	display: flex;
	justify-content: center;
	width: 100vw;
	padding-bottom: 30px;
}
footer > .wrap {
	padding-top: 3em;
	display: flex;
}
footer > .wrap > .contact > img {
	width: 7em;
}
footer > .wrap > .contact {
	display: flex;
	align-items: center;
}
footer > .wrap > .contact > p {
	font-size: 40px;
	font-weight: 600;
}
.contact-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.contact-link {
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: var(--text-color);
	transition: transform 0.3s;
	margin-left: 5px;
	padding: 3px 0;
}
.contact-link:hover {
	color: #004aad;
	transform: translateY(-3px);
}
.phone,
.mail,
.github,
.linkedin {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.fa {
	transform: translateY(3px);
}
.menu-icon {
	display: none;
}
.menu-icon > i {
	font-size: 25px;
}
.fa-x {
	display: none !important;
	right: 5vw;
	top: 46px;
	font-size: 25px;
}

@media screen and (max-width: 1250px) {
	.wrap {
		max-width: 1000px;
	}
	nav > ul {
		width: unset;
	}
	nav {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.menu {
		position: fixed;
		top: 0;
		left: 10000px;
		width: 100%;
		height: 100%;
		background-color: var(--background-color);
		transition: left 2s ease-in-out;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.menu > li {
		padding: 20px;
	}
	.active {
		left: 0;
		transition: left 0.7s ease-in-out;
		overflow: hidden;
	}
	.menu-icon {
		display: block;
	}
	.fa-x {
		display: block !important;
		position: absolute;
		right: 7vh;
		top: 46px;
		font-size: 25px;
	}
}

@media screen and (max-width: 1050px) {
	.wrap {
		max-width: 800px;
	}
	.screenshot > a > img {
		width: 700px;
	}
	.screenshot {
		width: 700px;
	}
	.paragraphs {
		width: 700px;
	}
	.overlay-text {
		font-size: 3.5em;
	}
}
@media screen and (max-width: 850px) {
	.wrap {
		max-width: 700px;
	}
	nav {
		padding: 0;
	}
	header {
		padding: 10px 0;
	}
}

@media screen and (max-width: 780px) {
	.container > div {
		padding: 10px;
	}
}

@media screen and (max-width: 750px) {
	.container {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.first-container {
		flex-direction: column;
	}
	.project > .paragraphs {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.screenshot > a > img {
		width: 600px;
	}
	.screenshot {
		width: 600px;
	}
	.paragraphs {
		width: 600px;
	}
	.p1,
	.p2 {
		width: 100%;
	}
	.project {
		padding-top: 4em;
	}
	#certification {
		padding-top: 2em;
	}
	.badges {
		flex-direction: column;
	}
	.badges > .text {
		text-align: center;
		padding: 0;
	}
	footer > .wrap {
		flex-direction: column;
		align-items: center;
	}
	.contact {
		flex-direction: column;
	}
	header {
		padding: 8px 0;
	}
	.wrap {
		max-width: 620px;
	}
}

@media screen and (max-width: 650px) {
	.wrap {
		max-width: 550px;
	}
	header {
		padding: 8px 0;
	}
	.logo {
		font-size: 25px;
	}
	.screenshot > a > img {
		width: 500px;
	}
	.screenshot {
		width: 500px;
	}
	.paragraphs {
		width: 500px;
	}
	.overlay-text {
		font-size: 2.5em;
	}
	.p1 > h1 {
		font-size: 2em;
	}
}

@media screen and (max-width: 600px) {
	.wrap {
		max-width: 500px;
	}
	header {
		padding: 8px 0;
	}
}

@media screen and (max-width: 550px) {
	.wrap {
		max-width: 450px;
	}
	header {
		padding: 8px 0;
	}
	.screenshot > a > img {
		width: 400px;
	}
	.screenshot {
		width: 400px;
	}
	.paragraphs {
		width: 400px;
	}
	.badges > .text,
	.container > .text {
		width: unset;
		padding: 0 5px;
		text-align: center;
	}
}

@media screen and (max-width: 450px) {
	.wrap {
		max-width: 350px;
	}
	header {
		padding: 8px 0;
	}
	.screenshot > a > img {
		display: none;
	}
	.screenshot {
		display: none;
	}
	.paragraphs {
		width: 100%;
	}
	.project {
		padding-top: 1.5em;
	}
	#projects {
		padding-bottom: 1.5em;
	}
	.contact-link {
		font-size: 17px;
	}
	.container > .photo > img {
		width: 260px;
	}
}

@media screen and (max-width: 370px) {
	.wrap {
		max-width: 270px;
	}
	.logo {
		font-size: 20px;
	}
}
